<p style="color: green"><%= notice %></p>

<div class="form-control">
  <h2>Login</h2>
  <%= form_with url: login_path do |form| %>
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control"%>
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
    <%= form.submit "Login", class: "btn btn-primary my-3" %>
    <%= link_to "Esqueceu sua senha?", password_reset_path %>
  <% end %>
</div>