<p style="color: green"><%= notice %></p>

<%= render @post %>
<%= render "posts/comments", post: @post %>

<div>
  
  <% if Current.user == @post.user %>
    <div class="my-4">
      <%= link_to "Editar", edit_post_path(@post), class: "btn btn-info" %>
      <%= button_to "Deletar", @post, method: :delete, class: "btn btn-danger mt-3" %>
    </div>
  <% end %>

  <%= link_to "Voltar", posts_path %>

</div>
