<!DOCTYPE html>
<html>
<head>
  <title>BlogMaino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <%= render 'shared/navbar' %>

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    © <%= Time.now.year %> BlogMaino. Todos os direitos reservados.
  </div>

</body>
</html>
