<!DOCTYPE html>
<html>
<head>
  <title>BlogMaino</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

  <style>
    .container {
      margin-top: 20px; /* Adiciona espaço entre o conteúdo e o rodapé */
      margin-bottom: 50px; /* Adiciona espaço suficiente para o rodapé */
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px 0;
    }
  </style>
</head>
<body>
  <%= render 'shared/navbar' %>

  <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    © <%= Time.now.year %> BlogMaino. Todos os direitos reservados.
  </div>

</body>
</html>
